@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
  }


:root {
    font-size: 62.5%;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    margin: 0;
    background-color: #e2e8f0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    grid-template: repeat(12, 10vh) / repeat(4, 25%) ;
    width: 100%;
}

.labels {
    display: grid;
    grid-template: repeat(6, 1.5vh) / repeat(11, 10%);
    grid-area: 1 / 1 / 2 / 19;
    
}

.announcements-label {
    grid-area: 3 / 9 / 4 / 11;
    font-size: 1.2rem;
    font-weight: 900;
}

.your-projects {
    grid-area: 3 / 1 / 4 / 5;
    font-size: 1.2rem;
    font-weight: 900;
}


/* Sidebar styling */
.sidebar {
    grid-area: 1 / 1 / 18 / 2;
    background-color: #2563eb;
    padding: 10px;
}

.sidebar ul {
    margin: 30px 0 0 0;
    padding: 0
}

.sidebar ul > li {
    list-style-type: none;
    margin: 0 0 10px;
    
}


.sidebar-nav  svg, .dashboard-svg {
    fill: white;
    width: 20px;
}

.dashboard-svg {

    width: 40px;
}

.sidebar-nav li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 900;
    color: #fff;
}


a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 900;

}

/* Header Styling */
.header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: #fff;
    height: 120px;
    
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.user-details {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
    gap: 10px;
    font-size: 1.4rem;
}

.user-details img:nth-child(2){
    background-color: #2563eb;
    border-radius: 50%;
    height: 30px;
}

.search {
    display: flex;
    width: 100%;
    grid-area: 5px;
}

.search img {
    margin: 0 1%;
    cursor: pointer;
}

.search input {
    width: 40vw;
    border-radius: 10px;
    border:  solid #e2e8f0;
    background-color: #e2e8f0;
    text-align: center;
}

.search input:focus {
    border: 2px solid #2563eb;
    outline: none;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0 0 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-info h3 {
    font-size: 1.2rem;
    font-weight: 900;
}

.control-buttons {
    display: flex;
    gap: 5px;
    width: 40vh;
    justify-content: space-between;
    
}

.control-buttons button {
    padding: 5px;
    width: 80px;
    color: #fff;
    background-color: #2563eb;
    border: 1px solid #2563eb;
    border-radius: 15px;
    font-weight: 900;
    cursor: pointer;
}

.control-buttons button:hover {
    background-color: aquamarine;
    transition: all 0.4s ease-in-out;
    border: 1px solid aquamarine;
}

/* Main Content Area */
.main-content {
    grid-area: 3 / 2 / 4 / 5;
    margin: 0px 0 0 20px;
    display: grid;
    grid-template: repeat(15, 5vh) / repeat(20, 5%);
    grid-gap: 5px 1px;
}

.super-cool-project {
    grid-area: 2 / 1 / 6 / 8;
    margin: 0 10px 10px 0;
    padding: 6px;
    border-left: 7px solid orange;
    background-color: white;
}
.less-cool-project {
    border-left: 7px solid orange;
    grid-area: 2 / 8 / 6 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
    
}

.imposible-app {
    grid-area: 6 / 1 / 10 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.easy-peasy-app {
    grid-area: 6 / 8 / 10 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.add-blocker {
    grid-area: 10 / 1 / 14 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.money-maker {
    grid-area: 10 / 8 / 14 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.announcements{
     grid-area: 2 / 15 / 8 / 20;
     margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}

.trending {
    grid-area: 8 / 15 / 14 / 20;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}


.card {
    border-radius: 10px;
    padding: 20px 10px;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    font-weight: 900;
}

.card-content {
    width: 100%;
    margin: 5px 0 ;
    font-size: 1rem;
    color: grey;
}

.card-icons {
    display: flex;
    justify-content: end;
    gap: 10px;
    height: 100%;
    opacity: .5;
}

.card-icons svg {
    width: 20px;
    
}

.announcement-title {
    font-weight: 900;
    font-size: .8rem;
}

.announcement-content {
    width: 100%;
    margin: 5px 0 10px 0;
    font-size: .7rem;
    color: grey;
}

hr {
    margin: 15px 0 15px 0;
}

.trending-content {
    display: flex;
    gap: 10px;
    margin: 0 0 10px;
}

.trending-text {
    font-size: .7rem;
    color: grey;
}

.trending-tag {
    font-weight: 900;
    margin: 0 0 3px 0;
    font-size: .9rem;
}
.trending-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}