@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
  }


:root {
    font-size: 62.5%;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    margin: 0;
    background-color: #e2e8f0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    grid-template: repeat(4, 25vh) / repeat(4, 25%) ;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #2563eb;
    padding: 10px;
}

.sidebar ul {
    margin: 30px 0 0 0;
    padding: 0
}

.sidebar ul > li {
    list-style-type: none;
    margin: 0 0 10px;
    
}


.sidebar-nav  svg, .dashboard-svg {
    fill: white;
    width: 20px;
}

.dashboard-svg {

    width: 40px;
}

.sidebar-nav li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 900;
    color: #fff;
}


a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 900;

}

/* Header Styling */
.header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: #fff;
    height: 20vh;
    
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.user-details {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
    gap: 10px;
    font-size: 1.4rem;
}

.user-details img:nth-child(2){
    background-color: #2563eb;
    border-radius: 50%;
    height: 30px;
}

.search {
    display: flex;
    width: 100%;
    grid-area: 5px;
}

.search img {
    margin: 0 1%;
    cursor: pointer;
}

.search input {
    width: 40vw;
    border-radius: 10px;
    border:  solid #e2e8f0;
    background-color: #e2e8f0;
    text-align: center;
}

.search input:focus {
    border: 2px solid #2563eb;
    outline: none;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0 0 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-info h3 {
    font-size: 1.2rem;
    font-weight: 900;
}

.control-buttons {
    display: flex;
    gap: 5px;
    width: 40vh;
    justify-content: space-between;
}

.control-buttons button {
    padding: 5px;
    width: 80px;
    color: #fff;
    background-color: #2563eb;
    border: 1px solid #2563eb;
    border-radius: 15px;
    font-weight: 900;
}

/* Main Content Area */
.main-content {
    grid-area: 2 / 2 / 5 / 5;
    margin: 0px 0 0 20px;
    display: grid;
    grid-template: repeat(15, 5vh) / repeat(20, 5%);
    grid-gap: 5px 1px;
}

.super-cool-project {
    grid-area: 1 / 1 / 5 / 8;
    margin: 0 10px 10px 0;
    padding: 6px;
    border-left: 7px solid orange;
    background-color: white;
}
.less-cool-project {
    border-left: 7px solid orange;
    grid-area: 1 / 8 / 5 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
    
}

.imposible-app {
    grid-area: 5 / 1 / 9 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.easy-peasy-app {
    grid-area: 5 / 8 / 9 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.add-blocker {
    grid-area: 9 / 1 / 13 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.money-maker {
    grid-area: 9 / 8 / 13 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.announcements{
     grid-area: 1 / 15 / 7 / 20;
     margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}

.trending {
    grid-area: 7 / 15 / 13 / 20;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}

.sub {
    border: 3px solid orange;
}

.items {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    
}

.card-title {
    font-family: roboto;
    font-weight: 900;
}
