
:root {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    margin: 0;
    background-color: #e2e8f0;
}



.grid-container {
    display: grid;
    grid-template: repeat(4, 24.9vh) / repeat(4, 24.9%) ;
}

.sidebar {
    border: 3px solid ;
    grid-area: 1 / 1 / 5 / 2;
    background-color: #0ea5e9;
}

.header {
    border: 3px solid blue;
    grid-area: 1 / 2 / 2 / 5;
    background-color: #fff;
    height: 15vh;
    width: 100%;
}

.main-content {
    border: 3px solid red;
    grid-area: 2 / 2 / 5 / 5;
    margin: 0px 0 0 20px;
    display: grid;
    grid-template: repeat(15, 5vh) / repeat(20, 5%);
    grid-gap: 5px 1px;
}

.super-cool-project {
    border: 2px solid green;
    grid-area: 1 / 1 / 5 / 8;
    margin: 0 10px 10px 0;
    padding: 6px;
    border-left: 7px solid orange;
    background-color: white;
}
.less-cool-project {
    border: 2px solid red;
    border-left: 7px solid orange;
    grid-area: 1 / 8 / 5 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
    
}

.imposible-app {
    border: 2px solid brown;
    grid-area: 5 / 1 / 9 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.easy-peasy-app {
    border: 2px solid brown;
    grid-area: 5 / 8 / 9 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.add-blocker {
    border: 2px solid brown;
    grid-area: 9 / 1 / 13 / 8;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.money-maker {
    border: 2px solid brown;
    grid-area: 9 / 8 / 13 / 15;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-left: 7px solid orange;
    background-color: white;
}

.announcements{
     border: 2px solid brown;
     grid-area: 1 / 15 / 7 / 20;
     margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}

.trending {
    border: 2px solid brown;
    grid-area: 7 / 15 / 13 / 20;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: white;
}

.sub {
    border: 3px solid orange;
}

.items {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
}